header {
    text-align: center;
    background-color: rgb(163, 195, 206);
    color: beige;
    padding: 40px;
}

img {
    float: right;
    /* height: 200px;
    width: 200px; */
    background-image: url("./assets/images/steroidtocat.png");
    background-size: contain;
}